<!DOCTYPE html>
<html lang="en" xmlns:v="urn:schemas-microsoft-com:vml">

<head>
  <meta charset="utf-8">
  <meta name="x-apple-disable-message-reformatting">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no, date=no, address=no, email=no">
  <meta name="color-scheme" content="light dark">
  <meta name="supported-color-schemes" content="light dark">
  <!--[if mso]>
  <noscript>
    <xml>
      <o:OfficeDocumentSettings xmlns:o="urn:schemas-microsoft-com:office:office">
        <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
    </xml>
  </noscript>
  <style>
    td,th,div,p,a,h1,h2,h3,h4,h5,h6 {font-family: "Segoe UI", sans-serif; mso-line-height-rule: exactly;}
  </style>
  <![endif]-->
  <title>Confirm your email address</title>
  <style>
    .hover-bg-primary-light:hover {
      background-color: #55f3de !important;
    }

    .hover-text-decoration-underline:hover {
      text-decoration: underline;
    }

    @media (max-width: 600px) {
      .sm-w-full {
        width: 100% !important;
      }

      .sm-py-8 {
        padding-top: 32px !important;
        padding-bottom: 32px !important;
      }

      .sm-px-6 {
        padding-left: 24px !important;
        padding-right: 24px !important;
      }

      .sm-leading-8 {
        line-height: 32px !important;
      }
    }
  </style>
</head>

<body
  style="word-break: break-word; -webkit-font-smoothing: antialiased; margin: 0; width: 100%; background-color: #f8fafc; padding: 0">
  {{mail}}
  <p>Your message has already been sent and is under review.</p>
  <p>We will review carefully and inform you of the results.</p>
  <p>Thank you.</p>
  <p>Algonrich Team.</p>
</body>

</html>